.categoryList {
	width: 100%;
	display: flex;
	display: -webkit-flex;
}
.categoryList .parentCategory{
	width: 20%;
	background-color: mistyrose;
}
.parentCategory div {
	height: 3rem;
	text-align: center;
	display: -webkit-flex;
	align-items: center;
	align-items: center;
}


.categoryList .childCategory{
	width: 80%;
	background-color: #FF0000;
}
.childCategory .title {
	display: flex;
	height: 3rem;
	display: -webkit-flex;
	align-items: center;
}
© 2020 GitHub, Inc.