footer {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	text-align: center;
	height: 100px;
}
footer section {
	width: 20%;
	text-align: center;
	
}
body {
	margin: 0;
	padding: 0;
	list-style:none;
	text-decoration: none;
	border: none;
	max-width: 640px;
	margin: 0 auto;
	display: block;
	font-size: 1rem;
	color: #333;
	font-weight: 400;
	letter-spacing:1px;
}
.flex {
	display: flex;
	display: -webkit-flex;
	align-items: center;
}
a,
button,
input {
	-webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
