* {
	font-size: 15px;
	color: #909090;
}
header {
	height: 4rem;
	width: 100%;
	justify-content: space-around;
}
header section {
	text-align: center;
	height: 1.5rem;
	width: 20%;
	align-items: center;
}

.div1 {
	margin: auto;
	border: 2px solid red;
	margin-top: 10px;
	width: 30px;
}
.fensiList {
	height: 4rem;
	border-bottom: 1px solid #F0F0F0;
}

