.header {
	height: 96.16px;
}
.header .swrap{
	background-color: red;
	height: 56.16px;
	padding-top: 3px;
	display: flex;
	display: -webkit-flex;
	height: 3rem;
	align-items: center;
	width: 100%;
}
.header .swrap input{
	margin: auto;
	width: 80%;
	border-radius: 25px;
	border: 0;
	height: 60%;
	outline: none;
	padding: 0 0 0 1.2rem;
	font-size: 1rem;
}
.categoryList {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	height: 40px;
}
.categoryList a{
	text-decoration: none;
	margin-left: 20px;
	color: black;
}
.categoryList2 {
	text-align: center;
}
.categoryList2 .swrap {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	align-items: center;
}
.categoryList2 .swrap section {
	width: 20%;
}
.categoryList2 .swrap section img {
	width: 100%;
	height: 120px;
}
.categoryList2 .swrap section div {
	padding-bottom: 10px;
}
.miaoshaList .title{
	height: 50px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	border-bottom: 1px solid black;
}
.miaoshaList .title * {
	margin-left: 20px;
}
.miaoshaList .time {
	height: 70px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
}
.miaoshaList .time div {
	text-align: center;
	border: 1px solid rosybrown;
	flex: 1;
	margin: 1rem;
	border-radius: 25px;
}
.miaoshaList .itemlist {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	text-align: center;
}
.miaoshaList .itemlist section {
	flex: 1;
	margin-top: -13px;
	margin-left: 10px;
	margin-right: 10px;
}
.miaoshaList .itemlist section img{
	width: 100%;
	height: 120px;
}
